body {
  margin: 0;
}

.container {



  /* basic properties */
  background-color: rgb(185, 185, 92);
  width: 100vw;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;

  /* grid properties */
  display: grid;

  grid-template: 50px 1fr 1fr 108px / repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr 2fr; */
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr 1fr 108px; */
  gap: 10px;

  /* full grid as one grid  */
  padding: 10px;
  border: 1px solid #000000;

}

.container div {
  /* grid.map(g => g.boxmodel() ) */

  padding: 10px;
  border: 1px solid #000000;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
}

.content-large {

  grid-row-start: 2;
  grid-row-end: span 2;
  /* grid-row-end: 4; */

  grid-column-start: 1;
  grid-column-end: span 2;
  /* grid-column-end: 4; */
}


.footer {
  grid-column: 1 / span 3;


  /* 
  grid-column-start: 1;
  grid-column-end: span 3; */

}