@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
  /* padding-left: 25px;
  padding-right: 25px; */
  /* background: #d81757; */
  /* transition: all 0.35s ease-in-out; */
}

.container:hover {
  /* background: #96790f; */
  /* transform: rotate(360deg); */
  /* transform: scale(1, 3); */
  /* transform: skew(50deg); */
  /* transform: translateX(20px); */
  /* transform: rotate(160deg); */
  /* transform: rotate(360deg); */
}
/* Navbar components */
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #554141;
}
/* Banner color  components  */
p {
  color: #555;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col_2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col_2 img {
  max-width: 100%;
  padding: 50 0;
}

.col_2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: saddlebrown;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #554141;
}

.header {
  background: radial-gradient(#85ad7312, #12c31261);
}

.header .row {
  margin-top: 70px;
}

/* Featured color components */

.categories {
  margin: 70px 0;
}

.small_container {
  max-width: 1080px;
  margin: auto;
  padding: 20px 25px;
}

.col_3 {
  flex-basis: 30%;
  min-width: 250px;
  padding: 10px 0;
}

.col_3 img {
  width: 100%;
}

/* featured product controller */

.col_4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col_4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto;
  position: relative;
  line-height: 60px;
  color: #555555;
}

.title:after {
  content: "";
  background: #ff5355;
  width: 80%;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 15%;
  transform: translateX(-50px);
}

h4 {
  color: #502e2e;
  font-weight: normal;
}

.col_4 p {
  font-size: 14px;
}

.rating .fa {
  color: #fd0d0d;
}
.col_4:hover {
  transform: translateY(-5px);
}
.others {
  display: flex;
}
.others > * {
  flex-basis: 50%;
}

/* offer components */

.col_2 .offer_img {
  padding: 50px;
}

small {
  color: #383232;
}
