/* * {
  margin: 0px auto;
  padding: 0px 0px;
  box-sizing: border-box;
}
  */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #D4AC2B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 100vw;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
}


.card {
  overflow: hidden;
  background-color: rgb(255, 206, 69, 0.75);
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  border-radius: 20px 20px 0px 0px;
}


.card-img {
  width: 20rem;
  height: auto;
}

.card-content {
  padding: 20px;
}

